<footer class="footer">
  <div class="container">
    <p class="text-muted">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">ここには固定フッターのコンテンツを配置します。</font>
      </font>
    </p>
  </div>
</footer>
